
    <title>Home</title>
    <script src="js/specific/jquery-1.11.1.min.js"></script>
    <link href="styles/specific/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="styles/specific/ss-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="styles/specific/squaresauce.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<style>

#tcolor {
    background-color: black;
}

#tcolor1 {
    background-color: #f16521;
}
#tcolor2 {
    background-color: #440d2b;
}
#tcolor3 {
    background-color: rgb(204, 31, 53);
}
#tcolor4 {
    background-color: #00adef;
}
#tcolor5 {
    background-color: rgb(204, 31, 53);
}
#tcolor6 {
    background-color: #8cc63e;
}
#tcolor7 {
    background-color: #652c90;
}
#tcolor8 {
    background-color: #ea9600;
}

</style>
<script>
function ran_col() { //function name
                var color; // hexadecimal starting symbol
                var letters = ['f16521','440d2b','00adef','8cc63e','652c90','ea9600','cc1f35']; //Set your colors here

                var x= document.getElementsByClassName("posts");
                var i;
                for(i=0;i<x.length;i++)
                {
                    color="#";
                    color += letters[Math.floor(Math.random() * letters.length)];
                    x[i].style.backgroundColor = color;
                }
            }


</script>
<body ng-app="saxApp" ng-controller="SaxController" class="fixed-header">
    <!-- BEGIN SIDEBPANEL-->
    <nav class="page-sidebar" data-pages="sidebar">
      <!-- BEGIN SIDEBAR MENU HEADER-->
      <div class="sidebar-header">
        
        <img src="images/landing-page/squaresauce-white.png" alt="logo" class="brand" data-src="images/landing-page/squaresauce-white.png" data-src-retina="images/landing-page/squaresauce-white.png" width="80">
      </div>
      <!-- END SIDEBAR MENU HEADER-->
      <!-- START SIDEBAR MENU -->
      <div class="sidebar-menu">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <ul class="menu-items">
          <li class="m-t-30 ">
            <a href="#" class="detailed">
              <span class="title">Dashboard</span>
              <span class="details">12 New Updates</span>
            </a>
            <span class="icon-thumbnail bg-success"><i class="fa fa-home"></i></span>
          </li>
          <li class="open">
            <a href="#" class="detailed">
              <span class="title">oWeek Square</span>
              <span class="details">234 New Messages</span>
            </a>
            <span class="icon-thumbnail"><i class="fa fa-users"></i></span>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <!-- END SIDEBAR MENU -->
    </nav>
    <!-- END SIDEBAR -->
    <!-- END SIDEBPANEL-->
     <!-- START PAGE-CONTAINER -->
    <div class="page-container">
      <!-- START HEADER -->
      <div class="header ">
        <!-- START MOBILE CONTROLS -->
        <!-- LEFT SIDE -->
        <div class="pull-left full-height visible-sm visible-xs">
          <!-- START ACTION BAR -->
          <div class="sm-action-bar">
            <a href="#" class="btn-link toggle-sidebar" data-toggle="sidebar">
              <span class="icon-set menu-hambuger"></span>
            </a>
          </div>
          <!-- END ACTION BAR -->
        </div>
        <!-- RIGHT SIDE -->
        <div class="pull-right full-height visible-sm visible-xs">
          <!-- START ACTION BAR -->
          <div class="sm-action-bar">
            <a href="#" class="btn-link" data-toggle="quickview" data-toggle-element="#quickview">
              <span class="icon-set menu-hambuger-plus"></span>
            </a>
          </div>
          <!-- END ACTION BAR -->
        </div>
        <!-- END MOBILE CONTROLS -->
        <div class=" pull-left sm-table">
          <div class="header-inner">
            <a href="#" class="toggle-email-sidebar">Home</a>
            <div class="brand inline">
              <img src="images/squaresauce-logo.png" alt="logo" data-src="images/squaresauce-logo.png" data-src-retina="images/squaresauce-logo.png" width="120">
            </div>
            <!-- START NOTIFICATION LIST -->
            <ul class="notification-list no-margin hidden-sm hidden-xs b-grey b-l b-r no-style p-l-30 p-r-20">
              <li class="p-r-15 inline">
                <div class="dropdown">
                  <a href="javascript:;" id="notification-center" class="icon-set globe-fill" data-toggle="dropdown">
                    <span class="bubble"></span>
                  </a>
                  <!-- START Notification Dropdown -->
                  <div class="dropdown-menu notification-toggle" role="menu" aria-labelledby="notification-center">
                    <!-- START Notification -->
                    <div class="notification-panel">
                      <!-- START Notification Body-->
                      <div class="notification-body scrollable">
                        <!-- START Notification Item-->
                        <div class="notification-item unread clearfix">
                          <!-- START Notification Item-->
                          <div class="heading open">
                            <a href="#" class="text-complete">
                              <i class="pg-map fs-16 m-r-10"></i>
                              <span class="bold">The Mall, Lahore</span>
                              <span class="fs-12 m-l-10">Ammar Suria</span>
                            </a>
                            <div class="pull-right">
                              <div class="thumbnail-wrapper d16 circular inline m-t-15 m-r-10 toggle-more-details">
                                <div><i class="fa fa-angle-left"></i>
                                </div>
                              </div>
                              <span class=" time">few sec ago</span>
                            </div>
                            <div class="more-details">
                              <div class="more-details-inner">
                                <h5 class="semi-bold fs-16">"Kia scene hay boys?"</h5>
                                <p class="small hint-text">
                                  Commented on Salaar's square.
                                  <br> via sticky notes.
                                </p>
                              </div>
                            </div>
                          </div>
                          <!-- END Notification Item-->
                          <!-- START Notification Item Right Side-->
                          <div class="option" data-toggle="tooltip" data-placement="left" title="mark as read">
                            <a href="#" class="mark"></a>
                          </div>
                          <!-- END Notification Item Right Side-->
                        </div>
                        <!-- START Notification Body-->
                        <!-- START Notification Item-->
                        <div class="notification-item  clearfix">
                          <div class="heading">
                            <a href="#" class="text-danger">
                              <i class="fa fa-exclamation-triangle m-r-10"></i>
                              <span class="bold">Education info missing</span>
                              <span class="fs-12 m-l-10">Take Action</span>
                            </a>
                            <span class="pull-right time">2 mins ago</span>
                          </div>
                          <!-- START Notification Item Right Side-->
                          <div class="option">
                            <a href="#" class="mark"></a>
                          </div>
                          <!-- END Notification Item Right Side-->
                        </div>
                        <!-- END Notification Item-->
                        <!-- START Notification Item-->
                        <div class="notification-item  clearfix">
                          <div class="heading">
                            <a href="#" class="text-warning-dark">
                              <i class="fa fa-exclamation-triangle m-r-10"></i>
                              <span class="bold">Pending Verification</span>
                              <span class="fs-12 m-l-10">Verify Now</span>
                            </a>
                            <span class="pull-right time">yesterday</span>
                          </div>
                          <!-- START Notification Item Right Side-->
                          <div class="option">
                            <a href="#" class="mark"></a>
                          </div>
                          <!-- END Notification Item Right Side-->
                        </div>
                        <!-- END Notification Item-->
                        <!-- START Notification Item-->
                        <div class="notification-item unread clearfix">
                          <div class="heading">
                            <div class="thumbnail-wrapper d24 circular b-white m-r-5 b-a b-white m-t-10 m-r-10">
                              <img width="30" height="30" data-src-retina="images/profiles/1x.jpg" data-src="images/profiles/1.jpg" alt="" src="images/profiles/1.jpg">
                            </div>
                            <a href="#" class="text-complete">
                              <span class="bold">Square Labs</span>
                              <span class="fs-12 m-l-10">Owners</span>
                            </a>
                            <span class="pull-right time">11:00pm</span>
                          </div>
                          <!-- START Notification Item Right Side-->
                          <div class="option" data-toggle="tooltip" data-placement="left" title="mark as read">
                            <a href="#" class="mark"></a>
                          </div>
                          <!-- END Notification Item Right Side-->
                        </div>
                        <!-- END Notification Item-->
                      </div>
                      <!-- END Notification Body-->
                      <!-- START Notification Footer-->
                      <div class="notification-footer text-center">
                        <a href="#" class="">Read all notifications</a>
                        <a data-toggle="refresh" class="portlet-refresh text-black pull-right" href="#">
                          <i class="pg-refresh_new"></i>
                        </a>
                      </div>
                      <!-- START Notification Footer-->
                    </div>
                    <!-- END Notification -->
                  </div>
                  <!-- END Notification Dropdown -->
                </div>
              </li>

              <li class="p-r-15 inline">
                <a href="#" class="fa fa-bolt fa-2"></a>
              </li>

            </ul>
          </div>
        </div>
        <div class=" pull-right">
          <div class="header-inner">
            <a href="#" class="btn-link icon-set menu-hambuger-plus m-l-20 sm-no-margin hidden-sm hidden-xs" data-toggle="quickview" data-toggle-element="#quickview"></a>
          </div>
        </div>
        <div class=" pull-right">
          <!-- START User Info-->
          <div class="visible-lg visible-md m-t-10">
            <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
              <span class="semi-bold"><%= req.session.userd.fname %></span> <span class="text-master"><%= req.session.userd.lname %></span>
            </div>
            <div class="dropdown pull-right">
              <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="thumbnail-wrapper d32 circular inline m-t-5">
                <img src="https://graph.facebook.com/<%= req.session.userd.fbkid %>/picture" alt="" data-src="https://graph.facebook.com/<%= req.session.userd.fbkid %>/picture" data-src-retina="https://graph.facebook.com/<%= req.session.userd.fbkid %>/picture" width="32" height="32">
            </span>
              </button>
              <ul class="dropdown-menu profile-dropdown" role="menu">
                <li><a href="#"><i class="pg-settings_small"></i> Settings</a>
                </li>
                <li><a href="#"><i class="pg-outdent"></i> Feedback</a>
                </li>
                <li><a href="#"><i class="pg-signals"></i> Help</a>
                </li>
                <li class="bg-master-lighter">
                  <a href="/logout" class="clearfix">
                    <span class="pull-left">Logout</span>
                    <span class="pull-right"><i class="pg-power"></i></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- END User Info-->
        </div>
      </div>
      <!-- END HEADER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content sm-gutter">
          <!-- START CONTAINER FLUID -->
          <div class="container-fluid padding-25 sm-padding-10">
            <!-- START ROW -->
            <div class="row">
              <div class="col-md-12 col-xlg-18">
                <div class="row" >
                  <div id="sage" class="col-sm-3 m-b-5" ng-repeat="chat in chatList | limitTo: 10000">
                    
                      <!-- START WIDGET -->

                      <a ng-href="http://squaresauce.com/square/{{ chat.sname }}">
                        <div class=" ar-1-1 widget-2 panel no-border widget widget-loader-circle-lg no-margin">
                       <div class="posts">
                        <div class="panel-body">
                          <div class="pull-bottom bottom-left bottom-right padding-25">
                            <a ng-href="http://squaresauce.com/square/{{ chat.sname }}"><span class="label font-montserrat fs-11">LUMS</span></a>
                            <br>
                            <a style="color:white;" ng-href="http://squaresauce.com/square/{{ chat.sname }}"><h3 class="text-white">{{ chat.name }}</h3></a>
                           <a ng-href="http://squaresauce.com/square/{{ chat.sname }}"> <p class="text-white hint-text hidden-md">
                            {{ chat.createdAt }}
                           </p></a>
                          </div>
                        </div>
                      </div>
                      </div></a>
                      <!-- END WIDGET -->

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
        <!-- START COPYRIGHT -->
        <!-- START CONTAINER FLUID -->
        <div class="container-fluid container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <span class="hint-text">Copyright © 2015 </span>
              <span class="font-montserrat">SQUARESAUCE</span>.
              <span class="hint-text">All rights reserved. </span>
              <span class="sm-block"><a href="/policy" class="m-l-10">Privacy Policy</a></span>
            </p>
            <p class="small no-margin pull-right sm-pull-reset">
              Hand-crafted<span class="hint-text"> &amp; Made with Love</span>
            </p>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- END COPYRIGHT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTAINER -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
  
  <script type="text/javascript">

    var saxApp = angular.module('saxApp',[]);

    saxApp.controller('SaxController',['$http','$log','$scope',function($http,$log,$scope){
    $scope.getAllchat = function(){

      $http.get('/user/getSquares?id=<%=req.session.passport.user%>')
           .success(function(success_data){
              
              console.log("This is success_data");
              $scope.chatList = success_data[0].mysquares;
              $log.info(success_data);
          });

      $scope.predicate = '-id';
      $scope.reverse = false;
      // $scope.chatList =<%=JSON.stringify(req.session.user_data)%>;
      // $log.info(<%=JSON.stringify(req.session.square_data)%>);
      }
    
    
    $scope.getAllchat();  

    }]);

    ran_col();
</script>
  