
    <title>oWeek Sign Up</title>
<script src="js/specific/jquery-1.11.1.min.js"></script>
    <link href="styles/specific/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="styles/specific/ss-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="styles/specific/squaresauce.css" rel="stylesheet" type="text/css" />
    
  
<script type="text/javascript">

    $(document).ready(function () {
        var txtSectorE = $('#sector_e');

        // Save the initial value
        $.data(txtSectorE, "last", txtSectorE.val());

        // Setup the event
        txtSectorE.focusout(function () {
            var last = $.data(txtSectorE, "last");
            if (last != $(this).val())
                var  username= $("#sector_e").val();

                                        $.ajax({
                                          method  : 'POST',
                                          contentType: "application/json; charset=utf-8",
                                          url     : '/user/verifyusername',
                                          data    : '{"username": "'+username+'"}', 
                                          dataType: 'json',
                                          headers : { 'Content-Type': 'application/json' }  


                                        })

                                        .success(function(izdone){
                                          if(izdone==true) {
                                              $('#userno').fadeOut(600);
                                              $('#useryes').fadeIn(600);

                                          }
                                          else {
                                              $('#userno').fadeIn(600);
                                              $('#useryes').fadeOut(600);
                                          }
                                                   
                                      })
        });

   var txtSectorEE = $('#sector_em');

        // Save the initial value
        $.data(txtSectorEE, "lastv", txtSectorEE.val());

        // Setup the event
        txtSectorE.focusout(function () {
            var last = $.data(txtSectorEE, "lastv");
            if (last != $(this).val())
                var  email= $("#sector_em").val();

                                        $.ajax({
                                          method  : 'POST',
                                          contentType: "application/json; charset=utf-8",
                                          url     : '/user/verifyemail',
                                          data    : '{"email": "'+email+'"}', 
                                          dataType: 'json',
                                          headers : { 'Content-Type': 'application/json' }  


                                        })

                                        .success(function(izdone){
                                          if(izdone==true) {
                                              $('#sbutton').fadeOut(600);
                                              $('#smsg').fadeIn(600);

                                          }
                                          else {
                                              $('#smsg').fadeIn(600);
                                              $('#sbutton').fadeOut(600);
                                          }
                                                   
                                      })



        });



    });
/*
 var formApp = angular.module('formApp', []);
        // create angular controller and pass in $scope and $http
        function formController($scope, $http) {
            // create a blank object to hold our form information
            // $scope will allow this to pass between controller and view
            $scope.formData = {};
            // process the form
            $scope.processForm = function() {
                $http({
                    method  : 'POST',
                    url     : '/users/updatedata',
                    data    : $.param($scope.formData),  // pass in data as strings
                    headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  // set the headers so angular passing info as form data (not request payload)

                }).success(function(headers) {
                        if (headers=='Error 0073') {
                            // if not successful, bind errors to error variables
                           /*var str = "Uh Oh, it seems like you have already registered. Please login to continue.";

                              document.getElementById('successfulsignup').innerHTML = str;

                            $('#successfulsignup').fadeIn('slow');
                            

                            alert("error");
                            }
                            else {
                                  /* $('#signupform').fadeOut(0);

                                    var str = "Hi " + headers + "! Thanks for signing up! How about we take things to the next level now?<br/> But before we move in, make babies and live happily ever after, we'd like to meet some of your friends.</br> So why don't you call them over too?";

                              document.getElementById('successfulsignup').innerHTML = str;

                            $('#successfulsignup').fadeIn('slow'); 


                            alert("sign up completed");

                            }


                            


                    });
            };
        }
        */

</script>
  <body class="fixed-header" ng-app="formApp" ng-controller="formController">
    <div class="register-container full-height sm-p-t-30">
      <div class="container-sm-height full-height">
        <div class="row row-sm-height">
          <div class="col-sm-12 col-sm-height col-middle">
            <img src="images/squaresauce-logo.png" alt="logo" data-src="images/squaresauce-logo.png" data-src-retina="images/squaresauce-logo.png" width="180">
            <h3>Please tell us more about yourself</h3>
            <p>
              <small>
        To create a Squaresauce account, provide us with a few more details.
    </small>
            </p>
            <form id="signupform" method="POST" ng-submit="processForm()"  class="p-t-15" role="form" action="/user/updatedata">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group form-group-default">
                    <label>First Name</label>
                    <input type="text" name="fname"  value="<%= req.session.fbk_data.first_name%>" class="form-control" required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group form-group-default">
                    <label>Last Name</label>
                    <input type="text" name="lname"  value="<%= req.session.fbk_data.last_name%>" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>Username</label>
                    <input type="text" id="sector_e" name="uname"  ng-model="formData.uname" value="<%= req.session.username%>" class="form-control" required>
                    

                  </div>
                  <div style="display:none;" id="useryes"><p><font color="green">Username Available</font></p></div>
                    <div style="display:none;" id="userno"><p><font color="red">Username not available</font></p></div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>Password</label>
                    <input type="password" name="pass"   value="" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>Primary Email</label>
                    <input type="email" id="sector_em" name="email" ng-model="formData.email" value="<%= req.session.fbk_data.email%>" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>Campus Email</label>
                    <input type="email" name="cemail" value="<%= req.session.email%>" class="form-control">
                  </div>
                </div>
              </div>
                    <input type="hidden" name="institution"  value="Lahore University of Management Sciences" class="form-control">
                    <input type="hidden" name="batch" value="Freshman" class="form-control">
                  
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>Previous Institution</label>
                    <input type="text" name="pinstitution" placeholder="Your high school / college" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                   <div class="form-group form-group-default form-group-default-select2 required">
                        <label class="">Major</label>
                        <select class="full-width" data-placeholder="Select your Major" name="major" id="major" data-init-plugin="select2">
                          <optgroup label="School of Sciences and Engineering (SSE)">
                            <option value="Computer Science">Computer Science</option>
                            <option value="Electrical Engineering">Electrical Engineering</option>
                            <option value="Physics">Physics</option>
                            <option value="Chemistry">Chemistry</option>
                            <option value="Biology">Biology</option>
                            <option value="Maths">Maths</option>
                          </optgroup>
                          <optgroup label="Mushtaq Ahmed Gurmani School of Humanities and Social Sciences (MGSHSS)">
                            <option value="Economics">Economics</option>
                            <option value="Economics and Politics">Economics and Politics</option>
                            <option value="Political Science">Political Science</option>
                            <option value="Anthropology and Sociology">Anthropology and Sociology</option>
                            <option value="English">English</option>
                            <option value="History">History</option>
                          </optgroup>
                          <optgroup label="Suleman Dawood School of Business (SDSB)">
                            <option value="Accounting and Finance">Accounting and Finance</option>
                            <option value="Management Science">Management Science</option>
                          </optgroup>
                          <optgroup label="Shaikh Ahmad Hassan School of Law (SAHSOL)">
                            <option value="Law">Law</option>
                          </optgroup>
                          <optgroup label="Other">
                            <option value="Not specified">Other</option>
                          </optgroup>
                        </select>
                      </div>
                </div>
              </div>
              <div class="row m-t-10">
                <div class="col-md-6">
                  <p>I agree to the <a href="#" class="text-info small">Squaresauce Terms</a> and <a href="#" class="text-info small">Privacy</a>.</p>
                </div>
                <div class="col-md-6 text-right">
                  <a href="#" class="text-info small">Help? Contact Support</a>
                </div>
              </div>
              <div id="sbutton"><button class="btn btn-success btn-cons m-t-10" type="submit">Create a new account</button></div>

                    <div style="display:none;" id="smsg"><p><font color="red">Email already exists. Please <a href="http://squaresauce.com/login">login</a> to continue.</font></p></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- END OVERLAY -->
    
  </body>
</html>